@use '../abstracts' as *;

.card {
  padding: 3em;
  display: flex;
  flex-direction: column;

  &-title {
    font-size: 1.5rem;
    color: yellow;
  }

  @include mq(small) {
    padding: 3rem;
    background-color: rgb(0, 0, 0);
  }
  @include mq(medium) {
    padding: 6rem;
    background-color: rgb(177, 177, 177);
  }
  @include mq(large) {
    padding: 6rem;
    background-color: rgb(60, 60, 60);
  }
}

.card_title {
  font-size: 1.5rem;
  color: yellow;
}

.testtest {
  padding: 1rem;
  margin: 0.4rem;
}
