$color-primary: white;

.title {
  color: $color-primary;
}

.container {
  padding: 0 1.5rem;
  max-width: 62.5rem;
  margin: 0 auto;
}

$br-small: 40em;

.card {
  padding: 1em;
  background-color: rgb(255, 197, 127);

  &-title {
    font-size: 1.5rem;
    color: rgb(0, 255, 17);
  }

  @media (min-width: $br-small) {
    padding: 3em;
    background-color: red;
  }
}

.card_title {
  font-size: 1.5rem;
  color: rgb(0, 229, 255);
}
